# Python virtual environment
.env/

# Python cache files
__pycache__/

# Terraform
.terraform/
*terraform.*

# Lambda zip
lambda_function.zip

# Lambda deployment package
package/

# Local MacOS files
.DS_Store