# Python virtual environment
.env/
.env

# Python cache files
__pycache__/

# Terraform
.terraform/
*terraform.tfstate*
*terraform.tfvars*
*terraform.lock*

# Lambda zip
lambda_function.zip

# Lambda deployment package
package/

# Local MacOS files
.DS_Store

# Lambda output file
output.json
response.json

# venv
.venv

# .gitignore
.env
python/
.pytest_cache/

docs/